{{> metaHeader title='Title page' description="description" body='present'}} 
{{> header body='present'}}

<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>
                <span id="typed-strings">
                  <span>We like,<br> Defiance</span>
                  <span>We like,<br> Data</span>
                  <span>We like,<br> Devs</span>
                  <span>We are</span>
                  <span>We are...<br></span>
                  <span>We are...<br>Different</span>
                  <span>We are...<br>&lt;/Gaggle&gt;</span>
                  <span>We are...<br>&lt;/Gaggle&gt;</span>
                  <span>Coming Soon...</span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>


{{> metaFooter}}
